
@{
    ViewData["Title"] = "HorasExtra";
    
}

<h1>HorasExtra</h1>
<table>
    <tr>
    <th>Data</th>
    <th>Horas Extra</th>
    </tr>
    @foreach(var ponto in Model)
    {
        <tr>
            <td>@ponto.Date</td>
            <td>@ponto.CalcularHorasExtras(ponto)</td>
        </tr>
    }
</table>