@{
    ViewData["Title"] = "Purchase not found";
}

<h1>@ViewData["Title"]</h1>
<div class="alert alert-danger" role="alert">
    <p>The Purchase you are looking for does not exist. Maybe someone else deleted it.</p>
</div>

<a asp-action="Index">Back to List</a>
