@model Supermarket.Models.Reserve_Department
@{
    ViewData["Title"] = "Create";
}

<h1>Create new reserve.</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            
            <div class="form-group">
                <label asp-for="ReserveId" class="control-label">Id da reserva</label>
                <input asp-for="ReserveId" class="form-control" />
                <span asp-validation-for="ReserveId" class="text-danger"></span>
            </div>
            @*Ir buscar nome do empregado apartir do ID*@
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label">Nome do empregado </label>
                <select asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.Employee, "Id", "Name"))" multiple>
                    <option value="">Selecione um Empregado</option>
                </select>
            </div>
            @*Ir buscar nome do departamento*@
            <div class="form-group">
                <label asp-for="DepartmentsId" class="control-label">Nome do departamento </label>
                <select asp-for="DepartmentsId" asp-items="@(new SelectList(ViewBag.Departments, "Id", "Name"))"multiple>
                    <option value="">Selecione um departamento</option>
                </select>
            </div>
            @*Escolher o número de funcionário que vão estar adicionados naquela reserva*@
            <div class="form-group">
                <label asp-for="NumeroDeFunc" class="control-label">Número de funcionários </label>
                <input asp-for="NumeroDeFunc" class="form-control" />
                <span asp-validation-for="NumeroDeFunc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submeter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
     <a asp-action="Index">Go back</a>
</div>