@model Supermarket.Models.Reserve
@{
    ViewData["Title"] = "Edit";
}

    <h1>Edit the reserve</h1>

    <hr/>
    <div class="row">
        <div class="col-md-4">
            
        </div>
    </div>