@model Supermarket.Models.Reserve_Department
@{
    ViewData["Title"] = "Edit";
}

    <h1>Edit the reserve</h1>

    <h4>Reserve</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReserveId" />
            @*Nome do empregado*@
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" asp-items="@(new SelectList(ViewBag.Employee, "Id", "Name"))"multiple>
                    <option value="">Selecione um Empregados ou mais</option>
                </select>
            </div>
            @*Nome do Departamento*@
            <div class="form-group">
                <label asp-for="DepartmentsId" class="control-label"></label>
                <select asp-for="DepartmentsId" asp-items="@(new SelectList(ViewBag.Departments, "Id", "Name"))" multiple>
                    <option value="">Selecione um departamento ou mais</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDeFunc" class="control-label"></label>
                <input asp-for="NumeroDeFunc" class="form-control" />
                <span asp-validation-for="NumeroDeFunc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}