@model IEnumerable<Supermarket.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>MealCard</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Employee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => employee.Employee_Name)
                </td>
                <td>
                    @if (employee.MealCard == null)
                    {
                        <form asp-action="Create" asp-controller="MealCards">
                            <input type="hidden" name="employeeId" value="@employee.EmployeeId" />
                            <button type="submit" class="btn btn-success btn-sm">Create MealCard</button>
                        </form>
                    }
                    else
                    {
                        <a asp-action="Details" asp-controller="MealCards" asp-route-id="@employee.MealCard.MealCardId" class="btn btn-dark btn-sm">View MealCard</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
