@model Supermarket.Models.Schedule

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Schedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">Data de Inicio de Horário</label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label">Data de Fim de Horário</label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyStartTime" class="control-label">Começo de Horário diário</label>
                <input asp-for="DailyStartTime" class="form-control" />
                <span asp-validation-for="DailyStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DailyFinishTime" class="control-label">Fim de Horário diário</label>
                <input asp-for="DailyFinishTime" class="form-control" />
                <span asp-validation-for="DailyFinishTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IDDepartments" class="control-label">ID do Departamento</label>
                <input asp-for="IDDepartments" class="form-control" />
                <span asp-validation-for="IDDepartments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
