@model Supermarket.Models.PurchaseProductSupplier

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>PurchaseProductSupplier</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PurchaseProductSupplierId" />
            <div class="form-group">
                <label asp-for="ProductId" class="control-label">Product</label>
                <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductId"></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchaseSupplierId" class="control-label">Purchase Estimated Delivery Date</label>
                <select asp-for="PurchaseSupplierId" class="form-control" asp-items="ViewBag.PurchaseSupplierId"></select>
                <span asp-validation-for="PurchaseSupplierId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AskedQuantity" class="control-label"></label>
                <input asp-for="AskedQuantity" class="form-control" />
                <span asp-validation-for="AskedQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveredQuantity" class="control-label"></label>
                <input asp-for="DeliveredQuantity" class="form-control" />
                <span asp-validation-for="DeliveredQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveredDate" class="control-label"></label>
                <input asp-for="DeliveredDate" class="form-control" />
                <span asp-validation-for="DeliveredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineTotal" class="control-label"></label>
                <input asp-for="LineTotal" class="form-control" />
                <span asp-validation-for="LineTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
