@model Supermarket.Models.SubsidySetup

@{
    ViewData["Title"] = "Create";
}
<style>
    body{
        background-color: #55b9c4ff;
        color: white;
        
    }
    h1, h4{
        text-align: center;
        font-family:'Times New Roman', Times, serif;
    }
    .teste{
       margin-left:20%;
        background-color:steelblue;
       padding:20px;
    }

    .back, a{
        color: red;
        font-size:20px;
        padding:20px;
        text-decoration:none;
    }
    
    </style>



<h4> Create SubsidySetup</h4>
<hr />
<div class="teste">
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="HorasMinTrabalhadas" class="control-label"></label>
                <input asp-for="HorasMinTrabalhadas" class="form-control" />
                <span asp-validation-for="HorasMinTrabalhadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="valorSubsidioDiario" class="control-label"></label>
                <input asp-for="valorSubsidioDiario" class="form-control" />
                <span asp-validation-for="valorSubsidioDiario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataPagamentoMensal" class="control-label"></label>
                <input asp-for="DataPagamentoMensal" class="form-control" />
                <span asp-validation-for="DataPagamentoMensal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <div class="back"><a asp-action="Index">Back to List</a></div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
