@model Supermarket.Models.SubsidySetup

@{
    ViewData["Title"] = "Create";
}

<style>

    .teste {
        margin-left: 15%;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        border-radius: 50px 20px;
    }

    h2 {
        text-align: center;
    }

    .form-group {
        padding: 5%;
    }
    .testo{
        text-align:center;
        padding-top:20px;
    }

</style>

<h1>Create</h1>

<h4>SubsidySetup</h4>
<div class="teste">
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            
            <div class="form-group">
                <label asp-for="HorasMinTrabalhadas" class="control-label"></label>
                <input asp-for="HorasMinTrabalhadas" class="form-control"/>
                <span asp-validation-for="HorasMinTrabalhadas" class="text-danger"></span>

            </div>
            <div class="form-group">
                    <label asp-for="ValorSubsidioDiario" class="control-label"></label>
                <input asp-for="ValorSubsidioDiario" class="form-control"/>
                <span asp-validation-for="ValorSubsidioDiario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEntradaVigor" class="control-label"></label>
                <input asp-for="DataEntradaVigor" class="form-control" />
                <span asp-validation-for="DataEntradaVigor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
</div>

<div class="testo">
   
    <a asp-action="Index" class="btn btn-danger btn-sm">Back to List</a>
</div>

