@model Supermarket.Models.Shelft_ProductExhibition

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        padding: 20px;
        background-color: #f8f9fa;
        color: #343a40;
    }

    h1 {
        color: #007bff;
        margin-top: 20px;
    }

    .card {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        padding: 20px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }

    .select-card {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        cursor: pointer;
    }

        .select-card:hover {
            background-color: #f8f8f8;
        }
</style>
<div class="card">
    <h1>Create</h1>
    <h4>Shelft Product Exhibition</h4>
</div>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
  
        <div class="alert alert-danger">
            @ViewBag.ErrorMessage
        </div>
   
}

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="ProductId" class="control-label">Product</label>
                    <select asp-for="ProductId" class="form-control" asp-items="ViewBag.ProductIdOptions"></select>
                </div>

                @if (ViewBag.ShelfId2 != null)
                {
                    <input type="hidden" asp-for="ShelfId" />
                    <div class="form-group">
                        <label asp-for="ShelfId" class="control-label"></label>
                        <div class="select-card">
                            @ViewBag.ShelfIdName
                        </div>
                    </div>
                }
                else
                {
                    <div class="form-group">
                        <label asp-for="ShelfId" class="control-label">Shelf</label>
                        <select asp-for="ShelfId" class="form-control" asp-items="ViewBag.ShelfIdOptions"></select>
                    </div>
                }

                <div class="form-group">
                    <label asp-for="MinimumQuantity" class="control-label">Minimum Quantity</label>
                    <input asp-for="MinimumQuantity" class="form-control" />
                    <span asp-validation-for="MinimumQuantity" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-controller="Shelves" asp-action="ShelfProducts" asp-route-shelfId="@ViewBag.ShelfId2" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}