@model Supermarket.Models.EmployeeSchedule

@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewBag.Employee</h1>

<h4>@Model.Date.ToString("dd/MM/yyyy")</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CheckInTime" class="control-label"></label>
                <input asp-for="CheckInTime" class="form-control" />
                <span asp-validation-for="CheckInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutTime" class="control-label"></label>
                <input asp-for="CheckOutTime" class="form-control" />
                <span asp-validation-for="CheckOutTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchStartTime" class="control-label"></label>
                <input asp-for="LunchStartTime" class="form-control" />
                <span asp-validation-for="LunchStartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LunchTime" class="control-label"></label>
                <input asp-for="LunchTime" class="form-control" />
                <span asp-validation-for="LunchTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="mt-2">
    <a asp-action="IndexAdmin">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
