@{
    ViewData["Title"] = "HRHomeAdmin";
}
<style>
    .welcome-container {
        text-align: center;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #333;
    }

    p {
        color: #555;
    }
</style>
@if (User.IsInRole("Gestor"))
{
    <div class="welcome-container">
        <h1>Welcome to the Human Resouces Module</h1>
        <p>Manage day-offs, schedules and logs of your employees</p>
    </div>
}
<div class="album py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">
                            @if (User.IsInRole("Gestor"))
                            {
                                <text>"Aqui é onde você pode gerenciar as folgas dos funcionarios, e aprovar solicitações."</text>
                            }
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Folgas" asp-action="Index" class="btn btn-primary">Folgas</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">
                            @if (User.IsInRole("Gestor"))
                            {
                                <text>"Aqui é onde você pode gerenciar as escalas dos funcionarios, e editar as mesmas de acordo com a necessidade."</text>
                            }
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                @if (User.IsInRole("Gestor"))
                                {
                                    <a asp-controller="EmployeeSchedules" asp-action="IndexAdmin" class="btn btn-primary">Schedules</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class="card-body">
                        <p class="card-text">
                            @if (User.IsInRole("Gestor"))
                            {
                                <text>"Aqui é onde você pode gerenciar os pontos funcionarios, e gerenciar pontos irregulares."</text>
                            }
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a asp-controller="Pontos" asp-action="Index" class="btn btn-primary">Pontos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container d-flex flex-row-reverse justify-content-between">
    <form method="get" asp-action="HRHome">
        <input type="hidden" name="funcionario" value="true" />
        <div class="form-group mt-3">
            <input type="submit" value="Change to employee view" class="btn btn-primary" />
        </div>
    </form>
</div>