@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="Index" asp-controller="Suppliers" class="btn btn-secondary">Suplliers</a>
    <a asp-action="Index" asp-controller="PurchaseSuppliers" class="btn btn-secondary">Purchases</a>
    <a asp-action="Index" asp-controller="Addresses" class="btn btn-secondary">Supplier Addresses</a>
    <a asp-action="Index" asp-controller="PurchaseProductSuppliers" class="btn btn-secondary">Purchase with Product</a>
    <a asp-action="Index" asp-controller="AvailabilitySuppliers" class="btn btn-secondary">Supplier Availability</a>


</div>
