@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a asp-controller="SubsidySetups" asp-action="Index" class="btn btn-secondary">Configuraçao de Subsidio</a>
        <a asp-controller="Employees" asp-action="Index" class="btn btn-secondary">Employees</a>
        <a asp-controller="MealCards" asp-action="Index" class="btn btn-secondary">Meal Card</a>
        <a asp-controller="SubsidyCalculations" asp-action="Index" class="btn btn-secondary">calculate subsidy value</a>
        <a asp-controller="Folgas" asp-action="Index" class="btn btn-info">Folgas</a>
    </div>

</div>
