@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a asp-controller="ProductDiscounts" asp-action="Index" class="btn btn-danger">Product Discounts</a>
        <a asp-controller="CategoryDiscounts" asp-action="Index" class="btn btn-success">Category Discounts</a>
        <a asp-controller="ClientCards" asp-action="Index" class="btn btn-warning">Clients Cards</a>
        <a asp-controller="Clients" asp-action="Index" class="btn btn-info">Clients</a>
        <a asp-controller="SubsidySetups" asp-action="Index" class="btn btn-secondary">Configuraçao de Subsidio</a>
        <a asp-controller="Employees" asp-action="Index" class="btn btn-secondary">Employees</a>
        <a asp-controller="MealCards" asp-action="Index" class="btn btn-secondary">Meal Card</a>
        <a asp-controller="CardMovements" asp-action="Index" class="btn btn-secondary">Meal Card Movements</a>
        <a asp-controller="Customer" asp-action="Customer" class="btn btn-Info">Customer</a>
    </div>

</div>
