@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div>
        <a asp-controller="ProductDiscounts" asp-action="Index" class="btn btn-danger">Product Discounts</a>
        <a asp-controller="CategoryDiscounts" asp-action="Index" class="btn btn-success">Category Discounts</a>
        <a asp-controller="ClientCards" asp-action="Index" class="btn btn-warning">Clients Cards</a>
        <a asp-controller="Clients" asp-action="Index" class="btn btn-info">Clients</a>
    </div>
</div>
