

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    
    <a href="https://localhost:7232/ReserveDepartments" class="btn btn-primary">Go to ReserveDepartments</a>
    <a href="https://localhost:7232/Formations" class="btn btn-primary">Go to Formations</a>
    <a href="https://localhost:7232/FormationEmployees" class="btn btn-primary">Go to FormationsEmployees</a>
    <a href="https://localhost:7232/qualification" class="btn btn-primary">Go to qualification</a>
</div>
