@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to our supermarket</h1>
    <br />
    <a href="https://localhost:7232/Qualifications" class="btn btn-primary">Qualifications</a>
    <br />
    <br />
    <br />
    <a href="https://localhost:7232/Employees" class="btn btn-dark">Employee</a>
    <a href="https://localhost:7232/Departments" class="btn btn-dark">Department</a>
</div>
