@model Supermarket.Models.Folga

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Folga</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="dataPedido" class="control-label">Data do Pedido de Folga</label>
                <input asp-for="dataPedido" class="form-control" />
                <span asp-validation-for="dataPedido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataInicio" class="control-label">Data do Início da Folga</label>
                <input asp-for="dataInicio" class="form-control" />
                <span asp-validation-for="dataInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dataFim" class="control-label">Data do fim da folga</label>
                <input asp-for="dataFim" class="form-control" />
                <span asp-validation-for="dataFim" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="motivo" class="control-label">Motivo da folga</label>
                <input asp-for="motivo" class="form-control" />
                <span asp-validation-for="motivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
