
@{
    ViewData["Title"] = "FolgasPendentes";
}

@model List<Folga>
<h1>Folgas Pendentes de Aprovação</h1>



@foreach (var folga in Model)
{
    <div><h4> Funcionário:@folga.Employee.Employee_Name</h4>
        <p> Pedida em: @folga.DataPedido.ToString()</p>
        <p> Data de Início:@folga.DataInicio.ToShortDateString()</p>
        <p> Data de Fim:@folga.DataFim.ToShortDateString()</p>
        <p> Motivo da folga: @Html.DisplayFor(modelItem=>folga.motivo)</p>
        

        <form asp-controller="Folgas" asp-action="AprovarFolga" asp-route-id="@folga.FolgaId" method="post">

        @Html.AntiForgeryToken()
        <div class="form-group">
            <label for="GestorId">Gestor Id</label>
        <input type="text" name="GestorId" required/></div>
        <div class="form-group"><label for="DataResultado:">Data Resultado</label>
            <input type="date" name="DataResultado" required/> </div>
        <button type="submit" name="aprovacao" value="Aprovada">Aprovar</button>
        <button type="submit" name="aprovacao" value="Rejeitada">Rejeitar</button>
        </form>
        <br>
        <br>
        </div>
    
}
<a asp-action="Index">Voltar ao Index</a>