@model Supermarket.Models.Departments

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Departments</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Nome do departamento </label>
                <input asp-for="NameDepartments" class="form-control" />
                <span asp-validation-for="NameDepartments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label >Descrição do departamento </label>
                <input asp-for="DescriptionDepartments" class="form-control" />
                <span asp-validation-for="DescriptionDepartments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="stateDropdown">Estado do Departamento</label>
                <select class="form-control" id="stateDropdown" asp-for="StateDepartments">
                    <option value="">----clique para selecionar uma opção----</option>
                    <option value="true">Ativo</option>
                    <option value="false">Desativo</option>
                </select>
                <span asp-validation-for="StateDepartments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="stateDropdown">Formação</label>
                <select class="form-control" id="stateDropdown" asp-for="StateDepartments">
                    <option value="">----clique para selecionar uma opção----</option>
                    <option value="A1">A1</option>
                    <option value="B2">B2</option>
                    <option value="C3">C3</option>
                    <option value="D4">D4</option>
                    <option value="F5">F5</option>
                    <option value="E6">E6</option>
                    <option value="G7"></option>
                </select>
                <span asp-validation-for="SkillsDepartments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Quantidade de senhas para a media </label>
                <input asp-for="QuatDepMed" class="form-control" type="number" min="1" max="100" />
                <span asp-validation-for="QuatDepMed" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 mb-3">
                <input type="submit" value="Aceitar" class="btn btn-primary mr-2" />
                <a asp-action="Index" class="btn btn-info">Back to List</a>
            </div>
        </form>
    </div>    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
