
@model List<Order>


@if (Model != null)
{
   

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Customer.CustomerName
                </td>

            </tr>
        }
    </tbody>
  

    
}