@model Supermarket.Models.WarehouseSection_Product

@{
    ViewData["Title"] = "Create";
}

<style>
    body {
        padding: 20px;
        background-color: #f8f9fa;
        color: #343a40;
    }

    h1 {
        color: #007bff;
        margin-top: 20px;
    }

    .card {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        padding: 20px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }

    .select-card {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        cursor: pointer;
    }

        .select-card:hover {
            background-color: #f8f8f8;
        }
</style>
<h1>Create</h1>

<h4>Batch Number</h4>
<hr />


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage2))
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage2
    </div>
}

<div class="card">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductId" class="control-label"></label>
                    <select asp-for="ProductId" class ="form-control" asp-items="ViewBag.ProductId"></select>
                </div>

                @if (ViewBag.WarehouseSectionId2 != null)
                {
                    <div class="form-group">
                        <label asp-for="WarehouseSectionId" class="control-label">Warehouse Section</label>
                        <div class="select-card">
                            @ViewBag.warehouseSectionName
                        </div>
                    </div>
                }
             
                <div class="form-group">
                    <label asp-for="BatchNumber" class="control-label"></label>
                    <input asp-for="BatchNumber" class="form-control" />
                    <span asp-validation-for="BatchNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpirationDate" class="control-label"></label>
                    <input asp-for="ExpirationDate" class="form-control" />
                    <span asp-validation-for="ExpirationDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SupplierID" class="control-label"></label>
                    <select asp-for="SupplierID" class ="form-control" asp-items="ViewBag.SupplierID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                    <a asp-action="Index" asp-controller="WarehouseSection_Product" asp-route-warehouseSectionId="@ViewBag.WarehouseSectionId2" class="btn btn-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
