@model IEnumerable<Supermarket.Models.ReserveDepartment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Numero de funcionários</p>
            </th>
            <th>
                <p>Nome de funcionários</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeFunc)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReserveDepartmentId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReserveDepartmentId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReserveDepartmentId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
