@model Supermarket.Models.Brand

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        padding: 20px;
        background-color: #f8f9fa;
        color: #343a40;
    }

    h1 {
        color: #007bff;
        margin-top: 20px;
    }

    .card {
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;
        padding: 20px;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    .btn-primary {
        background-color: #007bff;
        color: #fff;
    }

    .btn-secondary {
        background-color: #6c757d;
        color: #fff;
    }

    .select-card {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        margin-top: 6px;
        margin-bottom: 16px;
        cursor: pointer;
    }

        .select-card:hover {
            background-color: #f8f8f8;
        }
</style>
<div class="card">
    <h1>Create</h1>
</div>
<div class="card">
    <h4>Brand</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
