@model Funcao
@{
    ViewData["Title"] = "Atribuir Função";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="AssignFuncao" asp-route-id="@ViewBag.EmployeeId" method="post">
    <div class="form-group">
        <label for="FuncaoId">Selecione a Função:</label>
        <select class="form-control" asp-for="FuncaoId" asp-items="@(new SelectList(ViewBag.Funcoes, "FuncaoId", "NomeFuncao"))">
            <option value="">Selecione uma Função</option>
        </select>
        <span asp-validation-for="FuncaoId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Atribuir Função</button>
</form>
