@model HierarquiasModel

@{
    ViewData["Title"] = "Atribuir Hierarquia";
}
    <h2>@ViewData["Title"]</h2>
    <form asp-action="AssignHierarquia" asp-route-id="@ViewBag.EmployeeId" method="post">
        <div class="form-group">
            <label for="HierarquiaId">Selecione a Hierarquia:</label>
            <select class="form-control" asp-for="HierarquiaId" asp-items="@(new SelectList(ViewBag.Hierarquias, "Id", "Nome"))">
                <option value="">Selecione uma Hierarquia</option>
            </select>
            <span asp-validation-for="HierarquiaId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Atribuir Hierarquia</button>
    </form>

