@model Supermarket.Models.Hierarquias;

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="SubordinadoId" class="control-label">Subordinado</label>
        <select asp-for="SubordinadoId" class="form-control" asp-items="ViewBag.SubordinadoId"></select>
    </div>
    <div class="form-group">
        <label asp-for="SuperiorId" class="control-label">Superior</label>
        <select asp-for="SuperiorId" class="form-control" asp-items="ViewBag.SuperiorId"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Back to List</a>
