@{
    ViewData["Title"] = "DeletedConfirmed";
}

<h2>Deletedo</h2>

<p>O Cargo foi excluído com sucesso.</p>
<p></p>
<p><a asp-action="Index" class="btn btn-primary">Voltar para a lista de funcionários</a></p>

