@model Supermarket.Models.Hierarquias;

@{
    ViewData["Title"] = "Deletar Relacão Hierarquica";
}

<h2>Deletar Relacão Hierarquica</h2>
<p></p>
<p>Tem certeza de que deseja deletar esta Relacão Hierarquica?</p>
<p></p>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Subordinado
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Subordinados.Employee_Name)
        </dd>
        <dt class="col-sm-2">
            Superior
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Superiores.Employee_Name)
        </dd>
    </dl>
    <hr />
    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
