@model Supermarket.Models.Hierarquias

@{
    ViewData["Title"] = "DeletedConfirmed";
}

<h2>Deletado</h2>
<p></p>
<p></p>
<p>A Relacão foi excluída com sucesso.</p>
<p></p>

<p><a asp-action="Index" class="btn btn-primary">Voltar para a lista de relacoes</a></p>
