@model HierarquiasModel

@{
    ViewData["Title"] = "Editar Hierarquias";
}

<h2>Editar Hierarquias</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="HierarquiaId" />

    <div class="form-group">
        <label asp-for="HierarquiaNome"></label>
        <input asp-for="HierarquiaNome" class="form-control" />
        <span asp-validation-for="HierarquiaNome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NivelHierarquico"></label>
        <input asp-for="NivelHierarquico" class="form-control" />
        <span asp-validation-for="NivelHierarquico" class="text-danger"></span>
    </div>
    <p></p>
    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
