@model Supermarket.Models.Hierarquias;

@{
    ViewData["Title"] = "Editar Relacao Hierarquica";
}

<h2>Editar Relacão Hierarquica</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="SuperiorId" class="control-label">Superiores</label>
        <select asp-for="SuperiorId" class="form-control" asp-items="ViewBag.SuperiorId"></select>
    </div>
    <div class="form-group">
        <label asp-for="SubordinadoId" class="control-label">Subordinado</label>
        <select asp-for="SubordinadoId" class="form-control" asp-items="ViewBag.SubordinadoId"></select>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
</form>

<a asp-action="Index">Back to List</a>

