@model List<Supermarket.Models.Hierarquias>

@{
    ViewData["Title"] = "Resultados da Pesquisa de Subordinados";
}

<h2>Resultados da Pesquisa de Subordinados</h2>

@if (Model.Any())
{
    <h5>Subordinados de <b>@ViewData["SuperiorNome"]:</b></h5>
    <table class="table">
        <thead>
            <tr>
                <th>Subordinados</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hierarquia in Model)
            {
                <tr>
                    <td>@hierarquia.Subordinados.Employee_Name</td>
                    <td><a asp-action="Details" asp-route-id="@hierarquia.Id" class="btn btn-info">Detalhes</a></td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Nenhum subordinado encontrado.</p>
}

<a asp-action="Index" class="btn btn-primary">Voltar para a Lista</a>
